@import url("main.css");


.about-content {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    
}



.title-sub {
margin-bottom: 20px;
color:#888;

}


.about-hero {
    display: grid;
    grid-template-columns: 1fr 1.2fr; /* Görsel ve metin dengesi */
    gap: 50px;
    align-items: center;
    padding: 30px 6%;
    height: auto;
    margin-top:100px;
}

.profile-img {
    width: 80%;
    border-radius: 50px 0 50px 0; /* Modern, keskin olmayan köşeler */
    box-shadow: 20px 20px 0 var(--ana-renk); /* Daha önce tanımladığın renk */
}

@media (max-width: 768px) {
    .about-hero {
        grid-template-columns: 1fr; /* Mobilde alt alta */
        text-align: center;
        
    }
    .about-content {
        font-size: 1rem;
    }
}

.certificates-section {
    padding: 80px 10%;
    background-color: #ffffff;
}

.section-title {
    text-align: center;
    color: var(--secondary);
    margin-bottom: 10px;
}

.section-subtitle {
    text-align: center;
    color: #888;
    margin-bottom: 50px;
}

.cert-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    gap: 30px;
    justify-content: center;
}

.cert-card {
    background: #fdfdfd;
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cert-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.05);
    border-color: var(--secondary);
}

.cert-icon img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    object-fit: contain;
}

.cert-info h3 {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 8px;
}

.issuer {
    color: #888;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.cert-date {
    font-size: 0.8rem;
    color: #bbb;
    background: #f5f5f5;
    padding: 5px 15px;
    border-radius: 50px;
}

/* MOBİL AYAR */
@media (max-width: 480px) {
    .cert-grid {
        grid-template-columns: 1fr; /* Mobilde tam genişlik */
    }
}

/* Işık Kutusu (Lightbox) Arka Planı */
.cert-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    /* Siyah karartma */
    justify-content: center;
    align-items: center;
}

/* Büyüyen Sertifika Resmi */
#modal-img {
    max-width: 90%;
    max-height: 80vh;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
    
}

/* Kapatma Butonu (Sağ Üstteki X) */
.close-lightbox {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
