@import url("main.css");

/* GRID & SWIPE DÜZENİ */
.test-container { max-width: 1200px; margin: 40px auto; padding: 20px; }
.test-grid-track { display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; }

.test-card {
    background: var(--white); padding: 40px 20px; border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

/* OVERLAY TASARIMI */

.quiz-overlay {

    display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%;

    background: var(--white); z-index: 9999; flex-direction: column;
       
}

.progress-wrapper { width: 100%; height: 8px; background: var(--white); position: fixed; top: 0; z-index: 10; }

.progress-bar { width: 0%; height: 100%; background: var(--primary); transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1); }

.quiz-content { height: 100%; overflow: hidden; display: flex; align-items: center; }

.question-track { display: flex; width: 100%; transition: transform 0.6s ease-in-out; }

.question-slide {

    min-width: 100%; padding: 40px; box-sizing: border-box;

    display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;

}

.question-slide h2 { margin-bottom: 30px; color: #333; font-size: 1.5rem; }

.opt-btn {

    padding: 18px 30px; margin: 10px; border: 2px solid var(--secondary);

    background: transparent; color: var(--secondary); border-radius: 50px;

    cursor: pointer; width: 100%; max-width: 320px; font-weight: 600; transition: 0.3s;

}

.opt-btn2 {

    padding: 18px 30px; margin: 10px; border: 2px solid var(--secondary);

    background: transparent; color: var(--secondary); border-radius: 50px;

    cursor: pointer; width: 100%; max-width: 320px; font-weight: 600; transition: 0.3s;

}
.opt-btn2:hover { background: var(--secondary); color: white; }

.opt-btn:hover { background: var(--secondary); color: white; }

.quiz-footer { position: fixed; bottom: 30px; width: 100%; display: flex; flex-direction: column; align-items: center; gap: 15px; }

.finish-btn { background: #25D366; color: white; border: none; padding: 15px 40px; border-radius: 50px; font-weight: bold; cursor: pointer; animation: pulse 2s infinite; }

.close-btn { background: none; border: none; color: #888; text-decoration: underline; cursor: pointer; }

@keyframes pulse {

    0% { transform: scale(1); box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.4); }

    70% { transform: scale(1.05); box-shadow: 0 0 0 15px rgba(37, 211, 102, 0); }

    100% { transform: scale(1); }

}

.section-title { text-align: center; margin-top: 60px; 
color: var(--secondary); 
font-size: 1.8rem; }

@media (min-width:767px) {
    
    .opt-btn {
        font-size: 1.5rem;
    }
    .question-slide h2 {
        font-size: 2rem;
    }
    .finish-btn {font-size: 1.5rem}
    .close-btn {font-size: 1.5rem;}
}