@import url("main.css");


.bolum-basligi {
  text-align: center; 
  margin-top: 60px; 
  color: var(--secondary); 
  font-size: 1.6rem; 
}

.hizmet-grid {

  display: grid;

  /* Ekran genişliğine göre otomatik sığdır, en az 250px olsunlar */

   grid-template-columns: repeat(auto-fit, minmax(300px, max-content));

  gap: 30px; /* Kartlar arası boşluk */

  padding: 20px;

  justify-content: center;

}

.hizmet-kart {

  background: var(--white);
  border-radius: 25px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 500px;
  gap: 30px;
}

.hizmet-kart:hover {

  transform: translateY(-10px); /* Üzerine gelince hafif yükselme */
  box-shadow: 1px 1px 6px 1px var(--primary);
  
}

.card-img {
  height: 300px;
  
}
.card-img img {
  height: 300px;
  object-fit: cover;
  max-width: 100%;
  border-radius: 25px 25px 0 0;
}

.card-header {
  text-align:center;
  
}

.card-text h4 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
  opacity: 0.8;
}





.incele-btn {
  text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border-radius: 50px;
    font-size: 0.90rem;
    font-weight: 600;
    transition: transform 0.2s ease, background-color 0.2s;
    white-space: nowrap;
    display: inline-block;
    
}

.incele-btn:hover {
  color: #000;
  background-color: #fff;
}
  
