@import url("main.css"); /* Ana değişkenlerini buradan çekiyoruz */

.index-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 20px;
}


.map {
    margin: 0 auto;
    margin-bottom: 30px;
    overflow: hidden;
    max-width: 400px !important;
    height: 300px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}

.faq-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.faq-item {
    background: var(--white);
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.03);
    overflow: hidden;
    border: 1px solid #eee;
}

.faq-question {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
}

.faq-question:hover {
    background: var(--bg);
}

.faq-answer {
    max-height: 0; /* Başlangıçta gizli */
    overflow: hidden;
    transition: max-height 0.4s ease-out, padding 0.3s ease;
    background: var(--white);
}

.faq-answer p {
    padding: 0 20px 20px 20px; /* İçerik boşluğu */
    margin: 0;
    color: #666;
    line-height: 1.6;
}

/* Aktif olduğunda durumu */
.faq-item.active .faq-answer {
    max-height: 200px; /* İçeriğe göre yeterli bir değer */
}

.faq-item.active .arrow-icon {
    transform: rotate(45deg); /* Artı işaretini çarpıya çevirir */
    color: var(--accent);
}

.faq-item.active .faq-question {
    color: var(--secondary);
}

.arrow-icon {
    transition: transform 0.3s ease;
    font-size: 24px;
    font-style: normal;
}

@media (max-width:768px) {

.map {
    
    max-width: 300px !important;
    height: 250px !important;
}}