/* --- Mobil Css Kodları --- */

@media (max-width: 768px) {
    /* --- Mobil Tasarım Menü --- */
    .hamburger {
        display: block;
        z-index: 5700;
    }

    .navbar {
        
        
    }


    .logo {
    font-size: 0.8rem
}

.hero-container {
    
}

.logo span {
    font-size:1rem;
}

.nav-link {
    
    font-size: 1rem;
   
}

    /* Hamburger Aktifken X Animasyonu */
    .hamburger.active .bar:nth-child(2) { opacity: 0; }
    .hamburger.active .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }
    .hamburger.active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

    .nav-menu {
        position: fixed;
        top: -120vh; /* Ekranın yukarısında gizle */
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #ffffff; /* Beyaz perde */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        margin: 0;
        padding: 0;
        list-style: none;
        transition: top 0.6s cubic-bezier(0.85, 0, 0.15, 1);
        z-index: 5500; /* Container'ın (6000) altında, sayfanın üstünde */
    }

    .nav-menu.active {
        top: 0; /* Menü aşağı iner */
    }

    .nav-link {
        font-size: 0.95rem;/* Mobilde daha büyük ve şık */
        font-weight: 700;
        color: #000;
    }

  /* Test alanları */
    .test-grid-track {

        display: flex; overflow-x: auto; scroll-snap-type: x mandatory;

        gap: 15px; padding-bottom: 20px; -webkit-overflow-scrolling: touch;

    }

    .contact-btn {
        font-size: 0.70rem;
    }

    .test-card { min-width: 85%; scroll-snap-align: center; }

    .test-grid-track::-webkit-scrollbar { display: none; }


   .hero-container {

  height: 50dvh; /* Mobil tarayıcı dostu yükseklik */
   }
}
